// Color palette

$brand_primary: #343142;
$brand_secondary: #2fad96;

$bg_secondary: #fefefe;
$hero_bg: #ecf2f9;

$text_primary: #212121;
$text_primary_rgba: rgba(33,33,33,.4);
$text_secondary: #fff;
$text_secondary_rgba: rgba(255,255,255,.4);

$border_color: #eceeef;
$box_shadow: 0px 6px 18px rgba(33, 33, 33, 0.1);



// Font size

$nav_items: 0.75rem;



// Font style

$to_uppercase: uppercase;
$tp_underline: underline;



// Dimensions

$section_padding: 3rem 0;
$row_padding: 2rem 0;