// Color palette

$brand_primary: #282935;
$brand_secondary: #2fad96;
$bg_primary: #eceeef;

$text_primary: #212121;
$text_primary_rgba: rgba(33,33,33,.4);
$text_secondary: #fff;
$text_secondary_rgba: rgba(255,255,255,.4);




// Font style

$to_uppercase: uppercase;
$tp_underline: underline;